*{
    padding: 0;
    margin: 0;
}
:root{
    --color_principal:black;
    --sizeText:24px;
    --sizeTitulo:30px;
}
a{
    text-decoration: none;
}
h3{
    font-size: var(--sizeText);
}
/*particulares*/
.nav{
    display: flex;
    font-size: var(--sizeText);
    justify-content: center;
    border-bottom: 1px black solid;
    padding: 10px 0;
}
.contenedor_nav{
    display: flex;
    min-width: 620px;

    justify-content: space-between;
}
.contenedor_a>a{
    padding: 0 10px;
    color: var(--color_principal);
}


/* generales*/

.seccion{

    border-bottom: 1px black solid;
    max-width: 800px;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;

}
.estructura_first{
    display: grid;
    grid-template-columns: 1fr repeat(2) ;
    gap: 10px;
    grid-template-rows: 1fr repeat(3) ;
}
.top{
    display: flex;
    justify-content: center;
    grid-column: 1/3;
}
.producto>img{
    width: 150px;
    height: 150px;
}
main{
    display: flex;
    justify-content: center;

}
.producto>p{
    display: block;
    max-width: 150px;
}
.producto>p>span{
    display: flex;
    
}
/*articulos*/
.seccion>h1{
    text-align: center;
}

.articulo_producto>img{
    max-width: 730px;
}
.articulo_producto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.articulo_producto>h3{
    font-size: var(--sizeTitulo);

}
.articulo_producto>p{
    font-size: var(--sizeText);
}
.referido{
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: var(--sizeText);
}
.referido_icon{
    display: flex;
    gap: 10px;
}
.referido_icon > img{
    width: 50px;
    
}
.lista{
    font-size: var(--sizeText);
}